.about-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 90px;
}

.about-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text {
  margin-bottom: 15px;
}
