/* CSS for ShowRegions Component */

.show-regions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.show-regions-card {
    flex-basis: calc(40% - 20px);
    height: 200px;
    background-color: skyblue;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.show-regions-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.show-regions-card a {
    text-decoration: none;
    color: #333;
}

.show-regions-card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .show-regions-card {
        flex-basis: 100%;
    }
}

@media (max-width: 576px) {
    .show-regions-card {
        height: auto;
    }
}